<!-- TODO: Need to fix column width of rating section. Possibly just part stars. -->

<%= render "/partials/header" %>

<div class="container">
	<div class="row">
		<div class= "col-lg-10 col-lg-offset-1">
			<% if !@product.nil? %>

				<div class="row">
					<div class="page-header">
						<h3><%= @product['title'] %></h3>
						<p>
							<span class="label label-default"><%= @product['category'] %></span>
						</p>
					</div>
				</div>


				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="col-lg-3">
							<div class="thumbnail">
								
							</div>
						</div> 

						<div class="col-lg-9">				
							<h4>By: <%= @product['brand'] %></h4>
							<p><%= @product['name'] %></p>
							<p><% for i in 1..@product['rating'].floor %>
									<span class="glyphicon glyphicon-star"></span>
								<% end %>
								<% for i in @product['rating'].floor..4 %>
									<span class="glyphicon glyphicon-star-empty"></span>
								<% end %>
							</p>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">

						<div class="row">
							<div class="col-lg-6">
								<div class="page-header">
									<h4>Positive Reviews</h4>
								</div>
								<% @product['commentEntry'].each do |comment|
									if comment['rating'] > 3.0 %>
										<div class="row">
											<div class="col-lg-12">
												<div class="review-box">
													<div class="row">
														<div class="col-lg-2">
															<div class="review-rating-container">
																<h3 class="text-center"><%= comment['rating'] %><small>/5.0</small></h3>
															</div>
														</div>
														<div class="col-lg-10">
															<div class="review-content-container">
																<h5><strong><%= comment['title'] %></strong></h5>
																<p><%= comment['content'] %>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									<% end
								end %>
							</div>
							<div class="col-lg-6">
								<div class="page-header">
									<h4>Negative Reviews</h4>
								</div>
								<% @product['commentEntry'].sort_by{|comment| comment['rating']}.each do |comment|
									if comment['rating'] <= 3.0 %>
										<div class="row">
											<div class="col-lg-12">
												<div class="review-box">
													<div class="row">
														<div class="col-lg-2">
															<div class="review-rating-container">
																<h3 class="text-center"><%= comment['rating'] %><small>/5.0</small></h3>
															</div>
														</div>
														<div class="col-lg-10">
															<div class="review-content-container">
																<h5><strong><%= comment['title'] %></strong></h5>
																<p><%= comment['content'] %>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									<% end	
								end %>
							
							</div>
						</div>

					</div>
				</div>

				
			<% else %>
				<div class="alert alert-warning col-lg-8 col-lg-offset-2">
					<p class="text-center">Product not found</p>	
				</div>
			<% end %>

		</div>
	</div>
</div>

<%= render "/partials/footer" %>
